<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Elanor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="elanor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Elanor.Properties.Settings>
            <setting name="LotroPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UrlPatchRequest" serializeAs="String">
                <value>http://www.translate.lotros.ru/groupware/check</value>
            </setting>
            <setting name="UrlBaseDomain" serializeAs="String">
                <value>http://translate.lotros.ru</value>
            </setting>
            <setting name="UrlBug" serializeAs="String">
                <value>http://translate.lotros.ru/bugs</value>
            </setting>
            <setting name="AutoDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoApply" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolidOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeFonts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscribeLoadscreens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultithreadedDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkId" serializeAs="String">
                <value>620750000</value>
            </setting>
            <setting name="TurbineLauncherVersionToken" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="SubscribeTextures" serializeAs="String">
                <value>True</value>
            </setting>
        </Elanor.Properties.Settings>
        <elanor.Properties.Settings>
            <setting name="LotroPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UrlPatchRequest" serializeAs="String">
                <value>http://www.translate.lotros.ru/groupware/check</value>
            </setting>
            <setting name="UrlBaseDomain" serializeAs="String">
                <value>http://translate.lotros.ru</value>
            </setting>
            <setting name="UrlBug" serializeAs="String">
                <value>http://translate.lotros.ru/bugs</value>
            </setting>
            <setting name="AutoDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoApply" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolidOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeFonts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscribeLoadscreens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubscribeMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultithreadedDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkId" serializeAs="String">
                <value>620750000</value>
            </setting>
            <setting name="TurbineLauncherVersionToken" serializeAs="String">
                <value>69</value>
            </setting>
        </elanor.Properties.Settings>
    </userSettings>
</configuration>
